/**
 * @name BotTag Fixer
 * @author Wagi, catpurrchino
 * @version 2.0.0
 * @description Reverts the BOT tag to its original state. (APP -> BOT for the user tags)
*/

[class*="botText_"] {
    font-size: 10px;
    visibility: hidden;
    position: relative;
}

[class*="botText_"]::before {
    content: "BOT";
    visibility: visible;
    position: absolute;
}